.explore {
  background-color: #17181a;
  display: flex;
  padding: 7%;
  flex-direction: column;
  gap: 40px;
  .title {
    color: var(--white-color);
    font-weight: 400;
  }
  .explore__desc {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 570px;
      padding: 3%;
      border-radius: 10px;
      background-color: var(--white-color);
      .blue {
        margin: 20px 0;
        color: blue;
      }
      p {
        line-height: 1.5;
        @media (max-width: 600px) {
          font-size: 15px;
        }
      }
      .explore__desc__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #17181a;
      }
    }
  }
}
